<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/register']" class="btn btn-primary">
                            New photo
                        </a>
                    </span>
                    <input class="form-control" placeholder="filter by photo title" #searchedText (keyup)="0">
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>
    <div class="row">
        <panel *ngFor="let photo of photos | filterByTitle:searchedText.value" title="{{photo.title | uppercase}}" class="col-md-2">
            <photo title="{{photo.title}}" url="{{photo.url}}"></photo>
            <button class="btn btn-danger btn-block" (click)="delete(photo)">Delete</button>
        </panel>
    </div>
</div>