<div class="jumbotron">
    <h1 class="text-center">...</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/register']" class="btn btn-primary">
                            New photo
                        </a>
                    </span>
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>
    <div class="row">
        <panel *ngFor="let photo of photos | async" title="{{photo.title}}" class="col-md-2">
            <photo title="{{photo.title}}" url="{{photo.url}}"></photo>
        </panel>
    </div>
</div>