<div class="container">

    <form class="row" [formGroup]="registerForm" (submit)="save($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Title</label>
                <input [(ngModel)]="photo.title" formControlName="title" name="title" class="form-control"  autocomplete="off">   
                <span *ngIf="registerForm.controls.title.required" class="form-control alert-danger">
                    Title is required
                </span> 
                <span *ngIf="registerForm.controls.title.errors.minlength" class="form-control alert-danger">
                    Title must have at least 4 charactes
                </span>
                <span *ngIf="registerForm.controls.title.errors.pattern" class="form-control alert-danger">
                    Entry must be alphanumeric
                </span>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input [(ngModel)]="photo.url" formControlName="url" name="url" class="form-control"  autocomplete="off">
                <span *ngIf="registerForm.controls.url.invalid" class="form-control alert-danger">
                    URL is required
                </span>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea [(ngModel)]="photo.description" formControlName="description" name="description" class="form-control"  autocomplete="off">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                Save
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Back</a>
            <hr>
        </div>
    </form>
</div>