<div class="container">

    <form class="row" (submit)="save($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Title</label>
                <input [(ngModel)]="photo.title" name="title" class="form-control"  autocomplete="off">    
            </div>
            <div class="form-group">
                <label>URL</label>
                <input [(ngModel)]="photo.url" name="url" class="form-control"  autocomplete="off">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea [(ngModel)]="photo.description" name="description" class="form-control"  autocomplete="off">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary">
                Save
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Back</a>
            <hr>
        </div>
    </form>
</div>